<section>
  <form
    action='/api/[nombre]'
    method='post'
    style='display: grid; padding: 3rem;'
  >
    <label for='nombre'>Nombre</label>
    <input type='text' name='nombre' id='nombre' />
    <label for='correo'>Correo</label>
    <input type='email' name='correo' id='correo' />
    <label for='empresa'>Empresa</label>
    <input type='text' name='empresa' id='empresa' />
    <label for='mensaje'>Mensaje</label>
    <textarea name='mensaje' id='mensaje' cols='30' rows='10'></textarea>
    <input type='submit' value='Enviar' />
  </form>
</section>
